body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    position: relative;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
}

.left-block {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.logo {
    width: 150px;
    cursor: pointer;
}

.form-block {
    flex: 1;
    width: 100%;
    max-width: 900px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.form-block form {
    display: flex;
    flex-direction: column;
}

.form-block input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-block button {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.form-block button:hover {
    background-color: #555;
}

.register-btn {
    background-color: #007bff;
    color: white;
    margin-bottom: 20px;
}

.download-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #0056b3;
}

.create-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.create-btn:hover {
    background-color: #218838;
}

.top-right {
    position: absolute;
    top: 30px;
    right: 30px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 12px;
}

footer {
    text-align: center;
    background-color: #ddd;
    padding: 20px;
}

th {
    background-color: #f9f9f9;
}

.centered-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
}

.centered-main .form-block {
    width: 100%;
    max-width: 500px;
}

.form-group-create {
    position: absolute;
    top: 50%;
    left: calc(50% - 200px);
}

.hide {
    display: none;
}

.popup {
    position: absolute;
    background-color: #ffffff;
    border-radius: 0.75rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
}

.group-invite-popup {
    width: 400px;
    top: 50%;
    z-index: 10;
    height: 300px;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

.group-invite-popup>* {
    margin-bottom: 1rem;
    line-height: 1.6;
    color: #4a5568;
}
.invite-section-groups-group{
    border-bottom: 1px solid #bababa;
}
.group-invite-popup a {
    text-decoration: none;
    color: #4a5568;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    text-transform: uppercase;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.invite-link-popup {
    z-index: 10;
}